{% load i18n %}
{% if forum.have_remainders %}
    <div class="panel panel-default">

        <div class="panel-heading">{% trans "Reminders" %}</div>
        <table class="table">
            <tr>
                <th>{% trans "Description" %}</th>
                <th >{% trans "Date" %}</th>
            </tr>
            {% for remainder in forum.get_active_remainders %}
                <tr>
                    <td>{{ remainder.description }}</td>
                    <td >{{ remainder.finish_date|date:'d/m/Y' }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endif %}