{% extends "theme/base.html" %}

{% load i18n %}

{% load bootstrap %}
{% load url from future %}

{% block head_title %}{% trans "View Discipline" %}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                {{ discipline.code}} - {{ discipline.name }}
                <a href="{% url 'educational:discipline_update' discipline.pk %}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </h3>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>{% trans "Teacher" %}</th>
                <td>{{ discipline.teacher }}</td>
            </tr>
            <tr>
                <th>{% trans "Assignments" %}</th>
                <td>
                    <ul class="list-unstyled">
                        {% for assignment in discipline.assignment_set.all %}
                            <li>
                                <a href="{% url 'educational:assignment_detail' assignment.pk %}">{{ assignment.title }}</a>
                            </li>
                        {% endfor %}
                        <li><a href="{% url 'educational:assignment_create' discipline_id=discipline.pk %}">+ {% trans "Add new assingment" %}</a></li>
                    </ul>
                </td>
            </tr>
            <<<<<<< HEAD
            <tr>
                <th>Students</th>
                <td>
                    <ul class="list-unstyled">
                        {% for profile in discipline.group.profiles.all %}
                            {% if profile.is_student %}
                                <tr>
                                    <th> </th>
                                    <td>{{ profile }} <td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>


            <tr>
                <th>Redes Sociais</th>
                <td><a href="/educational/disciplines/likes/{{ discipline.pk }}/">Facebook</a></td>
            </tr>
            </tbody>
        </table>
    </div><!-- /.table-responsive -->
{% endblock %}
