{% extends "theme/base.html" %}

{% load i18n %}

{% load bootstrap %}
{% load url from future %}

{% block head_title %}{% trans "View Group" %}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                {{ group.name }}
                <a href="{% url 'educational:group_update' group.pk %}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </h3>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>{% trans "Members" %}</th>
                <td>
                    <ul class="list-unstyled">
                        {% for profile in group.profiles.all %}
                            <li>{{ profile }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>{% trans "Forum" %}</th>
                <td>
                    <a href="{% url 'forums:agora_forum' group.forum_set.first.pk %}">{% trans "Forum" %}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
