{% extends "account/base.html" %}

{% load i18n %}
{% load url from future %}

{% block body_class %}account account-delete{% endblock %}

{% block head_title %}Delete Account{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Settings</h4></div>
        <div class="panel-body">
    <h1>{% trans "Deactivate Account" %}</h1>

    <p>{% trans "If you go ahead and deactivate your account, you may lose <b>all</b> of your information "%}.</p>

    <form method="post" action="{% url "account_delete" %}" autocapitalize="off">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Deactivate account" %}</button>
    </form>
        </div>
    </div>
{% endblock %}
