{% extends "account/base.html" %}
{% load i18n %}

{% load bootstrap %}
{% load url from future %}

{% block head_title %}{% trans "Edit Profile" %}{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Profile</h4></div>
        <div class="panel-body">
            <form action="" method="POST" enctype="multipart/form-data">
                <legend>{% trans "Edit Social Networks" %}</legend>
                <a class="authomatic" href="login/fb">Login with Facebook</a>
                <script src="/static/pinax/js/jquery.js"></script>
                <script src="/static/js/authomatic.js"></script>
                 <script type="text/javascript">
                 json = authomatic.popupInit();
     			 </script>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

{% endblock %}
