{% load i18n %}
{% load account_tags %}

<div class="navbar navbar-blue navbar-static-top">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand logo">M</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">

        <ul class="nav navbar-nav">
            <li>
                <a href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
            </li>
            <li>
                <a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Post</a>
            </li>
            <li>
                <a href="#"><span class="badge">badge</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if request.has_permit.user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "profiles:profiles_edit" %}"><i class="fa fa-user"></i> {% trans "Edit Profile" %}</a></li>
                        <li><a href="{% url "account_settings" %}"><i class="fa fa-user"></i> {% trans "Settings" %}</a></li>
                        {% if request.user.profile.is_student %}
                            <li><a href="{% url "questionnaire:index" %}"><i class="fa fa-user"></i> {% trans "Tests" %}</a>
                            </li>
                        {% endif %}
                        {% if request.user.profile.is_teacher %}
                            <li><a href="#"><i class="fa fa-desktop"></i> {% trans "Teacher area" %}</a>
                            </li>
                        {% endif %}
                        {% if request.user.is_staff %}
                            <li><a href="{% url THEME_ADMIN_URL|default:"admin:index" %}"><i class="fa fa-cog"></i> {% trans "Admin" %}</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li>
                            <a id="account_logout" href="{% url "account_logout" %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url "account_login" %}">{% trans "Log in" %}</a></li>
                <li><a href="{% url "account_signup" %}">{% trans "Sign up" %}</a></li>
            {% endif %}
        </ul>
        <form id="accountLogOutForm" style="display: none;" action="{% url "account_logout" %}" method="POST">
            {% csrf_token %}
        </form>
    </nav>
</div>
<!-- /top nav -->