{% load i18n %}


{% for child, disciplines, assignments in user.profile.children_disciplines_and_assignments.items %}
    <a class="list-group-item">
        {{ child }}
    </a>
    {% for discipline, assignments in disciplines.items %}
    <a class="list-group-item active" href="{% url 'forums:agora_forum' discipline.parent_group.forum_set.first.pk %}">
        {{ discipline.code }} - {{ discipline.name }}
    </a>
        {% for assignment in assignments %}
    <a class="list-group-item " href="{% url 'educational:assignment_detail_guardian' assignment.pk %}">
        &nbsp; • &nbsp;{{ assignment }}
    </a>
        {% endfor %}
    {% endfor %}
{% endfor %}
