{% load i18n %}
<div class="panel-heading">{% trans "Disciplines" %}</div>


{% for discipline, assignments in user.profile.discipline_and_groups.items  %}
        <a class="list-group-item active" href="{% url "forums:agora_forum" discipline.forum_set.first.pk %}">
            {{ discipline }}
        </a>
        {% for assignment in assignments %}
            <a class="list-group-item " href="{% url "forums:agora_forum" assignment.forum_set.first.pk %}">
                &nbsp; • &nbsp;{{ assignment }}
            </a>
        {% endfor %}

{% endfor %}
