{% load i18n %}



<div class="panel-heading">{% trans "Disciplines" %}</div>
{% for discipline in user.profile.teacher.discipline_of_teacher.all  %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" style="width: 100%; text-align: left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            {{ discipline.group }}
            <span class="glyphicon glyphicon-plus pull-right "></span>
        </button>
        <ul class="dropdown-menu" style="width: 100%;" role="menu" aria-labelledby="dropdownMenu1">
            <li>
                <a role="menuitem"  href="{% url "forums:agora_forum" discipline.group.forum_set.first.pk %}">
                    {% trans "Go to Forum" %}
                </a>
            </li>
            <li>
                <a role="menuitem" href="{% url 'educational:discipline_detail' discipline.pk %}" >
                    {% trans "View Discipline" %}
                    <span class="glyphicon glyphicon-paperclip pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
    {% for assignment in discipline.assignment_set.all %}
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" style="width: 100%; text-align: left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                <li>   {{ assignment }}
                <span class="glyphicon glyphicon-plus pull-right "></span></li>
            </button>
            <ul class="dropdown-menu" style="width: 100%;" role="menu" aria-labelledby="dropdownMenu1">
                <li>
                    <a role="menuitem"  href="#">
                        {% trans "View groups" %}
                    </a>
                </li>
                <li>
                    <a role="menuitem" href="{% url 'educational:assignment_detail' assignment.pk %}" >
                        {% trans "View Assignment" %}
                        <span class="glyphicon glyphicon-paperclip pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>



        </a>
    {% endfor %}
{% endfor %}
