{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load url from future %}

{% block body %}
<div class="panel panel-default">
    <form action="" method="POST" enctype="multipart/form-data">
        <legend>{% trans "Questionnaire" %}</legend>
        {{ formset.management_form }}
        {% for form in formset %}
            {% csrf_token %}
            <h3> {{ form.instance.question }} </h3>
                {{ form }}
        {% endfor %}<br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
